body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./assets/background.jpg") no-repeat center fixed;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #edc0ff;
  width: 90%;
  border-bottom: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: blue;
  font-size: 20px;
  font-weight: bold;
  background-color: #edc0ff;

}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

nav ul li {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
    background: linear-gradient(45deg, #2400c7, #8b00ad);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
    border-radius: 10px;
  text-align: center;
    color: white;
    border: 2px solid rgb(0, 195, 255);
}

h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

h4 {
  margin: 0;
  padding: 20px;
  text-align: center;
  background: linear-gradient(to bottom, #24bae7, #2d0097);
  border-radius: 5px;
  color: white;
  border: 2px solid black;
}

hr {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

ul,
.ul-1,
.ul-2 {
  text-align: left;
  flex-grow: 1;
  display: inline;
  margin-top: 0;
  padding: 20px;
}

ul {
  width: fit-content;
  list-style-type: none;
}

ul li {
  list-style: circle;
  margin-left: 10px;
  margin: 2px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.ul-2 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 30px;
  border-radius: 10px;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.image-container img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  padding: 2px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.image-container img:hover,
.img:hover {
  transform: scale(1.01);
  transition: transform 0.2s;
  box-shadow: 0px 3px 3px rgb(0, 183, 255);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
    border-radius: 5px;
    border: 2px solid white;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  width: 50px;
  background-color: rgb(0, 204, 255);
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
    border-radius: 5px;
    border: 2px solid rgb(234, 0, 255);
}

.close:hover,
.close:focus {
  color: #5e0866;
  text-decoration: none;
  cursor: pointer;
}

p {
  background-color: #fff;
  border-radius: 5px;
  margin: 0;
  padding: 10px;
  text-align: center;
  width: 90%;
  border: 1px solid black;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  width: 95%;
  padding: 5px;
  margin: 0;
  border-bottom: 2px solid black;
  border-radius: 10px;
}

.intro {
  text-align: center;
  padding: 20px;
  background-color: #b8dfff;
  border-radius: 10px;
  width: 95%;
}

.top,
.middle,
.bottom,
.footer {
  display: flex;

  background-color: rgba(255, 255, 255, 0.438);
  flex-direction: column;
  justify-content: center;

  padding: 20px;
  border-radius: 10px;
  border: 2px solid blue;
  position: relative;
}

.top {
  align-items: center;
}

.middle {
  width: 50%;
}
